
.padre{
    margin-top: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal{
    width: 100%;
}


.florcontainer{
    width: 30%;
    margin-top: 40px;    
}

.information{
    width: 65%;
    margin-top: 60px; 
}

.letter1{
    text-align: center;
    font-size: 1rem;
    padding: 0 7.4rem;
    

}

.colleguephotos{
    width: 100%;
    padding: 50px;
    margin: -10px 0px -25px;
        
}

@media screen and (max-width: 700px) {

   
    
    .padre{
        margin-top: 45px;
     
    }

    .line{
        width: 80%;
    }
    
    .principal{
       width: 80%;
    }
    
    
    .florcontainer{
          width: 100%;
          display: flex;
          justify-content: center;
    }

   
    
    
    .information{
     width: 100%;
    }
    
    .letter1{
    
      font-size: 25px;
    
    }
    
    .colleguephotos{
       
            
    }



    
}